.button-component{
    min-width:94px;
    min-height:36px;
    border-radius:4px;
    font-size: 14px;
    color:white;
    font-weight: 500;
    padding:0px 16px;
    .descriptionButton{
        display: flex;
        width: fit-content;
        margin: auto;
    }
}