$color: #39bcd3;
.active {
  animation: test 1 0.5s;
  opacity: 1;
}
.unactive {
  opacity: 0;
  display: none;
  animation: test1 1 0.5s;
}
@keyframes test {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes test1 {
  0% {
    opacity: 1;
    display: block;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    display: none;
    transform: translateY(50%);
  }
}

.tab {
  &-header {
    position: relative;
    ul {
      display: flex;
      background: white;
      border-radius: 5px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      margin: 0;
      border-bottom: 1px solid #c8d1f5;
      li {
        padding: 15px 0;
        list-style: none;
        width: 100%;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        color: #9ea9d6;
        // border-right: 2px solid rgba(13, 16, 0, 0.5);
        transition: 0.5s;
        &:last-child {
          border-right: none;
        }
      }
    }
    &-active {
      color: #39bcd3 !important;
    }
  }
  &-line {
    position: absolute;
    height: 1px;
    width: 1px;
    background: $color;
    bottom: 0;
    transition: 0.3s;
    left: 0;
    border-radius: 5px;
  }
  &-content {
    padding: 2%;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.tab-column {
  display: flex;
  .tab {
    &-header {
      width: 15%;
      ul {
        flex-direction: column;
        padding: 0;
        border-bottom: none;
        border-right: 1px solid #c8d1f5;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 5px;
      }
    }
    &-content {
      width: 85%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &-line {
      left: 100%;
    }
  }
}
