@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Roboto"), local("Roboto"),
    url("../assets/font/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto"), local("Roboto"),
    url("../assets/font/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Roboto"), local("Roboto"),
    url("../assets/font/Roboto/Roboto-Thin.ttf") format("truetype");
}
/* Roboto bold */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Roboto"), local("Roboto"),
    url("../assets/font/Roboto/Roboto-Bold.ttf") format("truetype");
}

/* Helvetica */
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Helvetica"), local("Helvetica"),
    url("../assets/font/Helvetica/Helvetica-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Helvetica"), local("Helvetica"),
    url("../assets/font/Helvetica/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Helvetica"), local("Helvetica"),
    url("../assets/font/Helvetica/Helvetica-Light.ttf") format("truetype");
}

/* Arial */
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Arial"), local("Arial"),
    url("../assets/font/Arial/Arial-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Arial"), local("Arial"),
    url("../assets/font/Arial/Arial.ttf") format("truetype");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Arial"), local("Arial"),
    url("../assets/font/Arial/Arial-Light.ttf") format("truetype");
}

.market-menu {
  .ant-menu {
    &-item {
      display: flex;
    }
  }
}

button {
  &:active,
  &:focus {
    outline: none;
  }
}

//======== MAX LINE ==============
.max-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.6rem;

  &-1 {
    -webkit-line-clamp: 1;
  }

  &-2 {
    -webkit-line-clamp: 2;
  }

  &-3 {
    -webkit-line-clamp: 3;
  }

  &-4 {
    -webkit-line-clamp: 4;
  }

  &-5 {
    -webkit-line-clamp: 5;
  }
  &-6 {
    -webkit-line-clamp: 6;
  }
  &-9 {
    -webkit-line-clamp: 9;
  }
}
div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #57c3f5;
  border-radius: 50%;
  animation: clickEffect 0.4s ease-out;
  z-index: 999999;
}

@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.25em;
    height: 0.25em;
    margin: -0.25em;
    border-width: 0.25em;
  }
  100% {
    opacity: 0.2;
    width: 10em;
    height: 10em;
    margin: -5em;
    border-width: 0.03em;
  }
}
